.frameParent {
  width: 100%;
  position: relative;
  border-radius: 45px;
  background-color: #14344b;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 6%;
  box-sizing: border-box;
  gap: 24px;
  text-align: center;
}

.headerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px; /* antes 12px */
  padding: 0 13%;
}

.title {
  font-size: var(--Seccion-h1); /* antes 2.5–4 → ahora más fluido */
  font-weight: 600;
  color: #fff;
  line-height: 115%;
  text-transform: capitalize;
  font-family: 'IBM Plex Sans', sans-serif;
}

.subtitle {
  font-size: var(--Seccion-p);
  color: #ffffffcc;
  font-family: 'Roboto Mono', monospace;
  line-height: 1.5;
  max-width: 75ch;
  text-wrap: normal;
  text-align: center;
  padding: 0 5%;
}

.kpiGrid {
  width: 100%;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}

@media (max-width: 810px) {
  .kpiGrid {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas exactas en móvil */
    gap: 16px;
  }
  .headerSection {
    padding: 0 5%;
  }
}

@media (min-width: 1500px) {
  .headerSection {
    padding: 0 20%;
  }
  .frameParent {
    padding: 7rem 6%;
  }
}

/* Palabras resaltadas en naranja */
.highlight {
  color: var(--Naranja-Tundata);
}

.divisionLine {
  width: 100%;
  height: 1px;
  background-color: #f48e07; /* amarillo Tundata */
  margin: 20px 0; /* espacio arriba y abajo */
}

@media (max-width: 810px) {
  .divisionLine {
    margin: 2px 0;
  }
}
